<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6Pi2WADZYRbLEbe9ggICraR64I-rekus</string>
	<key>GCM_SENDER_ID</key>
	<string>825118390804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expodevclient</string>
	<key>PROJECT_ID</key>
	<string>expodevclient-f5c93</string>
	<key>STORAGE_BUCKET</key>
	<string>expodevclient-f5c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825118390804:ios:f8a3234a6345a891f44501</string>
</dict>
</plist>